---
import { Wrapper } from "@/components/Wrapper"
import "@/styles/global.css"
---

<html lang="en">
  <head>
    <!-- big thanks to Jan Antonin Kolar (https://unsplash.com/@jankolar) for the wonderfull banner image!  -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>The Card Catalog</title>
  </head>
  <body>
    <Wrapper>
      <h1 class="mainPageTitle">Librarian Stories</h1>
      <div class="typeset typeset-article"></div>
    </Wrapper>
  </body>
</html>
